/* mobile/small */
@media screen {
  html {
    font-size: 2vw;
  }
  
  body {
    background-color: rgba(238, 235, 220, 0.255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #a08b6f;
    text-align: center;
    font-weight: 200;
    font-size: 2vw;
    margin: 0;
  }
  
  header {
    background-color: rgb(162, 176, 121);
    color: white;
    margin: 0 auto;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1000;
    margin-bottom: 5vw;
  }
  
  .title {
    padding-top: 1vw;
    position: sticky;
  }
  
  .nav-header {
    width: 100%;
    position: sticky;
    padding-top: 0vw;
    font-weight: 300;
    text-align: center;
    background-color: rgb(162, 176, 121);
  }
  
  nav.nav-header ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  nav.nav-header ul li {
    display: inline;
    margin: 2vw;
    font-size: 5vw;
  }
  
  nav.nav-header a {
    text-decoration: none;
    color: white;
  }
  
  p {
    font-size: 3vw;
  }
  
  .back-to-login p{
    color: white;
    font-size: 4vw;
  }
  
  .new-user-signup p{
    color: white;
    font-size: 4vw;
  }
  
  
  h1 {
    font-weight: 350;
    font-size: 11vw;
    margin-bottom: 0;
  }
  
  h2 {
    font-weight: 350;
    font-size: 6vw;
  }
  
  h4 {
    font-weight: 350;
    font-size: 4.5vw;
  }
  
  li {
    text-align: center;
    margin-top: 1.5vw;
    font-size: 5.5vw;
    list-style-type: none;
    margin-right: 18%;
  }
  
  a {
    color: #a28969;
    text-decoration: none;
  }
  
  a:hover {
    color: rgb(215, 207, 191);
  }
  
  hr {
    width: 70%;
    box-align: center;
    color: #a28969;
  }
  
  input {
    background-color: #9ec9532e;
    width: auto;
    height: 12vw;
    font-size: 4vw;
    text-align: center;
    border: 1px solid rgb(134, 126, 107);
    border-radius: 0.075rem;
    box-sizing: border-box;
    margin-right: 0vw;
    margin-bottom: 1vw;
  }
  
  .login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75vh; /* Adjust as needed */
  }
  
  .login-title h1{
    font-size: 15vw;
  }
  .login-title h2{
    font-size: 10vw;
  }
  
  .user-login {
    margin-top: 5vw; 
    text-align: center;
  }


  
  .new-user{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75vh; /* Adjust as needed */
  }
  
  .new-user h1{
    font-size: 15vw;
  }
  .new-user h4{
    font-size: 8vw;
  }
  
  .search-recipe h1{
    padding-bottom: 2vw;
    font-size: 6vw;
  }

  #recipe-name {
    font-size: 10vw;
  }
  
  .diet-container button, 
  .health-container-1 button,
  .health-container-2 button {
    font: inherit;
    color: inherit;
    font-size: 3.5vw;
    height: 10vw;
    width: 22vw;
    background-color: #9ec95359;
    border-width: 0.5vw;
    border-style: dotted;
    border: rgb(134, 126, 107);
    padding: 0.25vw;
  }
  
  .diet-container button.selected,
  .health-container-1 button.selected,
  .health-container-2 button.selected {
    background-color: #7fa341c0;
    border-color: #a28969; 
    border-radius: 10%;
  }
  
  .health-container-2{
    padding-top: 7vw;
  }
  
  .submit-restrictions button{
    font: inherit;
    color: inherit;
    font-size: 4vw;
    font-weight: 600;
    height: 15vw;
    width: 30vw;
    background-color: #9ec95359;
    border-width: 2vw;
    border-style: dotted;
    border: rgb(134, 126, 107);
    padding: 0.25vw;
  }
  
  
  
  .ingredient-details h4{
    padding-top: 0vw;
    padding-bottom: 0vw;
    font-size: 8vw;
  }
  
  .recipe-details h4{
    font-size: 8vw;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th,
  td {
    padding: 1vw;
    text-align: center;
    vertical-align: top;
  }
  
  th {
    text-align: center;
    font-weight: 350;
    font-size: 3vw;
    max-width: 5vw;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  button {
    font: inherit;
    color: inherit;
    font-size: 5vw; 
    height: auto;
    width: 16vw;
    padding: 1vw;
    background-color: #9ec95359;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #e7ebe0;
  }
  
  /* Tooltip container */
  .tooltip {
    position: relative;
    display: inline-block;
  }
  
  .heart-button{
    transition-duration: 0.4s;
  }
  
  /* Tooltip text */
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
  
  .tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 50%;
    right: 100%; /* To the left of the tooltip */
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
  }
  
  footer {
    position: fixed;
    text-align: center;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 10vw;
    background-color: rgb(162, 176, 121);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  footer img {
    max-height: 100%;
  }
}


/* computer */
@media screen and (min-width: 700px){
  html {
    font-size: 2vw;
  }
  
  body {
    background-color: rgba(238, 235, 220, 0.255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #a08b6f;
    text-align: center;
    font-weight: 200;
    font-size: 2vw;
    margin: 0;
  }
  
  header {
    background-color: rgb(162, 176, 121);
    color: white;
    margin: 0 auto;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1000;
    margin-bottom: 5vw;
  }
  
  .title {
    padding-top: 1vw;
    font-weight: 500;
    position: sticky;
  }

  #user-identification {
    font-size: 1.5em;
  }

  #profile-header {
    font-size: 2.5em;
    font-weight: 400;
  }
  
  .nav-header {
    width: 100%;
    position: sticky;
    padding-top: 0vw;
    font-weight: 300;
    text-align: center;
    background-color: rgb(162, 176, 121);
  }
  
  nav.nav-header ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  nav.nav-header ul li {
    display: inline;
    margin: 2vw;
    font-size: 3.25vw;
  }
  
  nav.nav-header a {
    text-decoration: none;
    color: white;
  }
  
  p {
    font-size: 3vw;
  }
  
  .back-to-login p{
    color: white;
    font-size: 4vw;
  }
  
  .new-user-signup p{
    color: white;
    font-size: 4vw;
  }

  
  
  h1 {
    font-weight: 350;
    font-size: 11vw;
    margin-bottom: 0;
  }
  
  h2 {
    font-weight: 350;
    font-size: 5.5vw;
  }
  
  h4 {
    font-weight: 350;
    font-size: 4.5vw;
  }
  
  li {
    text-align: center;
    margin-top: 2vw;
    font-size: 3vw;
    list-style-type: none;
    margin-right: 0%;
  }
  
  a {
    color: #a28969;
    text-decoration: none;
  }
  
  a:hover {
    color: rgb(215, 207, 191);
  }
  
  hr {
    width: 70%;
    box-align: center;
    color: #a28969;
  }
  
  input {
    background-color: #9ec9532e;
    width: auto;
    height: 6vw;
    font-size: 2vw;
    text-align: center;
    border: 1px solid rgb(134, 126, 107);
    border-radius: 0.075rem;
    box-sizing: border-box;
    margin-right: 0vw;
    margin-bottom: 1vw;
  }
  .new-user-input, #email-input, .forgot-ps-inputs {
    width: 33vw;
  }
  
  .login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75vh; /* Adjust as needed */
  }
  #forgot-header {
    font-size: 2em;
  }
  #forgot-password {
    padding-top: -2em;
  }

  #next {
    font-size: 3vw;
    font-weight: 300;
    height: 6vw;
    width: 18vw;
  }

  #resend-code-forgot-pw {
    font-size: 3vw;
    font-weight: 300;
    height: 6vw;
    width: 18vw;
  }
  #change-ps {
    font-size: 3vw;
    font-weight: 300;
    height: 10vw;
    width: 18vw;
  }
  
  .login-title h1{
    padding-top: 20vw;
    margin-top: 10vw;
    font-size: 9vw;
  }
  .login-title h2{
    font-size: 5vw;
  }
  
  .user-login {
    margin-top: 5vw; 
    text-align: center;
  }

  .user-login button{
    text-align: center;
    font-size: 3vw;
    width: auto;
    height: 6vw;
  }
  
  .new-user{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 125vw; /* Adjust as needed */
  }
  .new-user button {
    width: 5em;
    font-size: 1em;
    height: 3em;
  }
  
  .new-user h1{
    font-size: 8vw;
  }
  .new-user h4{
    font-size: 5vw;
    max-width: 80%;
  }
  
  .search-recipe h1{
    padding-bottom: 2vw;
    font-size: 6vw;
  }
  
  .diet-container button, 
  .health-container-1 button,
  .health-container-2 button {
    font: inherit;
    color: inherit;
    font-size: 1.8vw;
    height: 6vw;
    width: 12vw;
    background-color: #9ec95359;
    border-width: 0.5vw;
    border-style: dotted;
    border: rgb(134, 126, 107);
    padding: 0.25vw;
  }
  
  .diet-container button.selected,
  .health-container-1 button.selected,
  .health-container-2 button.selected {
    background-color: #7fa341c0;
    border-color: #a28969; 
    border-radius: 10%;
  }
  
  .health-container-2{
    padding-top: 7vw;
  }
  

  #selected-recipe-details *{
    align-content: center;
  }
  
  .ingredient-details h4{
    padding-top: 0vw;
    padding-bottom: 0vw;
    font-size: 3vw;
  }

  #heart-container button{
    margin-top: .5vw;
    width: auto;
    height: 3vw;
  }
  #ingredients, #directions {
    
    font-size: 3vw;
    font-weight: 375;
  }

  #ingredient-list *, 
  #directions-list *
  {
    margin-right: 0%;
    font-size: 2vw;
    margin: .5vw;
  }
 
  .recipe-details h4{
    font-size: 3vw;
  }

  #recipe-name {
    font-size: 4vw;
    font-weight: 375;
  }
  
  #favorites-container p {
      padding-left: 17vw;
      padding-right: 17vw;
      font-size: 1.75vw;
  }

  #favorites-container h2 {
    font-size: 3.5vw;
    font-weight: 400;
}

  #favorites-header h2{
    font-size: 4.5vw;
    font-weight: 400;
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th,
  td {
    padding: 1vw;
    text-align: center;
    vertical-align: top;
  }
  
  th {
    text-align: center;
    font-weight: 400;
    font-size: 3vw;
    max-width: 5vw;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  button {
    font: inherit;
    color: inherit;
    font-size: 5vw; 
    height: auto;
    width: 12vw;
    padding: 1vw;
    background-color: #9ec95359;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #e7ebe0;
  }
  #recipe-search-button {
    font-size: 1em;
  }


  /* Tooltip container */
  .tooltip {
    position: relative;
    display: inline-block;
  }
  
  .heart-button{
    transition-duration: 0.4s;
  }
  
  /* Tooltip text */
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 12vw;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
  
  .tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 50%;
    right: 100%; /* To the left of the tooltip */
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
  }
  
  footer {
    position: fixed;
    text-align: center;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3vw;
    background-color: rgb(162, 176, 121);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #edamam-footer {
    height: 2.5vw;
  }
  
  footer img {
    max-height: 100%;
  }
}
