.recipes-search-bar,
.recipes-container,
.my-recipes-container {
  width: 100%;
}

.recipes-container,
.my-recipes-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  /* background-color: #f0f0f0; */
  padding: 0px;
  margin: 0 auto;
}

.box {
  flex: 0 1 325px;
  margin-bottom: 50px;
  border: 2px solid #ccc;
  border-radius: 15px;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.box img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.box h2,
.box p {
  width: 100%;
}
