.recipes-search-bar,
.recipes-container,
.my-recipes-container {
  width: 100%;
}

.recipes-container,
.my-recipes-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center the boxes */
  align-items: stretch;
  padding: 0px;
  margin: 0 auto;
}

.box {
  margin: 20px;
  border: 2px solid #ccc;
  border-radius: 15px;
  box-sizing: border-box;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden; /* Ensure children don't overflow the box */
  width: calc(25% - 40px); /* Four columns layout */
}

.box img {
  width: 100%;
  height: auto; /* Maintain aspect ratio */
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  object-fit: cover; /* Ensures the image covers the box without stretching */
}

.box h2,
.box p {
  width: 100%;
  padding: 10px;
  margin: 0; /* Remove any default margins */
  box-sizing: border-box; /* Ensure padding is included in the width */
}

/* Responsive Adjustments for Tablets and Mobiles */
@media (max-width: 992px) {
  .box {
    width: calc(50% - 40px); /* Two columns when the viewport is under 992px */
  }
}

@media (max-width: 768px) {
  .box {
    width: calc(100% - 50px); /* One column layout for tablets */
  }
}

@media (max-width: 576px) {
  .box {
    width: calc(100% - 50px); /* One column layout for smaller mobile devices */
    margin: 10px; /* Margin adjustment for smaller devices */
  }
}

/* Center the boxes if they don't fill the row */
@media (min-width: 577px) and (max-width: 1200px) {
  .recipes-container::after {
    content: "";
    flex: auto;
  }
}
