.recipes-search-bar,
.recipes-container,
.my-recipes-container {
  width: 100%;
}

.recipes-container,
.my-recipes-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center the boxes */
  align-items: stretch;
  padding: 0px;
  margin: 0 auto;
}

.box {
  position: relative;
  margin: 20px;
  border: 2px solid #ccc;
  border-radius: 15px;
  box-sizing: border-box;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden; /* Ensure children don't overflow the box */
  width: calc(25% - 40px); /* Four columns layout */
}

.box img {
  width: 100%;
  height: auto; /* Maintain aspect ratio */
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  object-fit: cover; /* Ensures the image covers the box without stretching */
}

.user-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  padding: 5px;
  z-index: 1; /* Ensure the icon is on top of the image */
}

.user-icon i {
  color: #333;
  font-size: 20px;
}

.box h2,
.box p {
  width: 100%;
  padding: 10px;
  margin: 0; /* Remove any default margins */
  box-sizing: border-box; /* Ensure padding is included in the width */
}

/* Responsive Adjustments for Tablets and Mobiles */
@media (max-width: 992px) {
  .box {
    width: calc(50% - 40px); /* Two columns when the viewport is under 992px */
  }
}

@media (max-width: 768px) {
  .box {
    width: calc(100% - 50px); /* One column layout for tablets */
  }
}

@media (max-width: 576px) {
  .box {
    width: calc(100% - 50px); /* One column layout for smaller mobile devices */
    margin: 10px; /* Margin adjustment for smaller devices */
  }
}

/* Center the boxes if they don't fill the row */
@media (min-width: 577px) and (max-width: 1200px) {
  .recipes-container::after {
    content: "";
    flex: auto;
  }
}

.recipes-filter-btn {
  border-radius: 0px;
  border-right: 1px solid #fff;
}

/* Filter Modal CSS */
.custom-modal-bg .modal-body {
  background: linear-gradient(to right, #ff7e5f, #feb47b);

  /* background-image: url("../img/FoodBackground.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; */
}

/* Custom styles for the recipe-filter-modal */
.recipe-filter-modal .modal-content {
  background-color: #f7f7f7;
  border-radius: 10px;
  padding: 10px;
}

.recipe-filter-modal .modal-header {
  border-bottom: none;
  padding-bottom: 0;
}

.recipe-filter-modal .modal-body {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px 5px 0 5px;
  gap: 5px; /* Add space between columns */
}

.recipe-filter-modal .recipe-filter-modal-column {
  flex: 1;
  margin: 0 2px;
  min-width: 150px;
  max-height: 400px;
  overflow-y: auto;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 5px;
}

.recipe-filter-modal h4 {
  margin-bottom: 10px;
  color: #333;
  font-size: 18px;
  text-align: center;
}

.recipe-filter-modal label {
  font-weight: 500;
  margin-bottom: 5px;
  font-size: 14px;
  display: block;
}

.recipe-filter-modal .form-check {
  margin-bottom: 5px;
}

.recipe-filter-modal .form-check-input:hover + .form-check-label,
.recipe-filter-modal .form-check-label:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 2px 4px;
}

.recipe-filter-modal .modal-dialog {
  max-width: 40%;
  margin: 0 auto; /* Center the modal */
}

/* Media queries for responsiveness */
@media (max-width: 992px) {
  .recipe-filter-modal .modal-dialog {
    max-width: 60%;
    margin: 0 auto; /* Center the modal */
  }
  .recipe-filter-modal .recipe-filter-modal-column {
    flex: 1 1 calc(50% - 10px); /* Two columns */
    margin-bottom: 10px; /* Add vertical space between columns */
  }
}

@media (max-width: 768px) {
  .recipe-filter-modal .modal-dialog {
    max-width: 80%;
    margin: 0 auto; /* Center the modal */
  }
  .recipe-filter-modal .recipe-filter-modal-column {
    flex: 1 1 calc(100% - 10px); /* One column */
    margin-bottom: 5px; /* Add vertical space between columns */
  }
}

/* Used for icons on my recipes */
.button-spacing {
  margin-right: 5px;
}

.dotbutton:after{
  content: '\2807';
  font-size: 30px;
  cursor: pointer;
}

.btn-left {
  position: absolute;
  top: 10px;
  left: 10px;
}

.recipe-dropdown {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block; 
}

.dropdown-content {
  display: none;
  margin-top: 50px;
  overflow: auto;
}

.dropdown-content button {
  color: black;
  width: 100%;
  padding: 4px 8px;
  border-radius: 4px;
  text-align: center;
  background-color: var(--secondary-color);
  border: none;
  color: white;
}

.recipe-dropdown button:hover {background-color: var(--primary-color);}

.show {display:block;}