.backgroundColor {
  background: linear-gradient(to bottom, #f2f2f2, #d2d2d2);
  background-size: cover;
}

.recipe-container {
  max-width: 800px;
  margin: 20px auto;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.recipe-header {
  background-color: white;
  background-size: cover;
  background-position: center;
  padding: 40px 20px;
  text-align: center;
}

.recipe-info {
  padding: 20px;
  margin: 2%;
  vertical-align: top;
}

.recipe-info h3 {
  margin-top: 0;
}

.inline-div {
  display: inline-block; /* Makes the divs appear in line */
  width: 45%; /* Sets the width less than 50% to fit side by side */
}

.handle-favorites {
  text-align: center;
  margin-top: 20px; /* Add some spacing above the buttons */
}

.handle-favorites button {
  width: 70%;
  margin: 5px 0; /* Add some vertical spacing between buttons */
}

/* Hide the buttons without removing them from the layout flow */
#updateRecipeBtn,
#publishRecipeBtn,
#approvePubReqBtn,
#denyPubReqBtn {
  visibility: hidden;
}

#approvePubReqBtn{
  background-color: #0A8E36;
}

#denyPubReqBtn {
  background-color: #801A18;
}